<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <rewrite>
   <rules>
    <rule name="redirect0" stopProcessing="true">
     <match url="sugarcrm\.log\.*"/>
     <action type="Redirect" url="log_file_restricted.html" redirectType="Found"/>
    </rule>
    <rule name="redirect1" stopProcessing="true">
     <match url="install.log"/>
     <action type="Redirect" url="log_file_restricted.html" redirectType="Found"/>
    </rule>
    <rule name="redirect2" stopProcessing="true">
     <match url="upgradeWizard.log"/>
     <action type="Redirect" url="log_file_restricted.html" redirectType="Found"/>
    </rule>
    <rule name="redirect3" stopProcessing="true">
     <match url="emailman.log"/>
     <action type="Redirect" url="log_file_restricted.html" redirectType="Found"/>
    </rule>
    <rule name="redirect4" stopProcessing="true">
     <match url="not_imported_.*.txt"/>
     <action type="Redirect" url="log_file_restricted.html" redirectType="Found"/>
    </rule>
    <rule name="redirect5" stopProcessing="true">
     <match url="XTemplate/(.*)/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect6" stopProcessing="true">
     <match url="data/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect7" stopProcessing="true">
     <match url="examples/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect8" stopProcessing="true">
     <match url="include/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect9" stopProcessing="true">
     <match url="include/(.*)/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect10" stopProcessing="true">
     <match url="log4php/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect11" stopProcessing="true">
     <match url="log4php/(.*)/(.*)"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect12" stopProcessing="true">
     <match url="metadata/(.*)/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect13" stopProcessing="true">
     <match url="modules/(.*)/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect14" stopProcessing="true">
     <match url="soap/(.*).php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect15" stopProcessing="true">
     <match url="emailmandelivery.php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect16" stopProcessing="true">
     <match url="cron.php"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
    <rule name="redirect17" stopProcessing="true">
     <match url="upload/.*"/>
     <action type="Redirect" url="index.php" redirectType="Found"/>
    </rule>
   </rules>
  </rewrite>
  <caching>
   <profiles>
    <remove extension=".php"/>
   </profiles>
  </caching>
  <staticContent>
   <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
  </staticContent>
 </system.webServer>
</configuration>
